/*--------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------
    TYPOGRAPHY
---------------*/
body{
    background-color: #083b4c;
}

h1{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: .9375rem;
    margin-bottom: 2.1875rem;
}

/*--------------
    COMMON
---------------*/
.container {
    width: 46.875rem;
    margin: auto;
}

/*--------------
    MAIN
---------------*/
.fizzbuzz-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.fizzbuzz-item{
    width: calc(100% / 7 - 1.25rem);
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .625rem;
}

/*--------------
    BK COLORS
---------------*/
.blue-bk-color{
    background-color: #1389b2;
}

.fizz-bk-color{
    background-color: #0cd6a1;
}

.buzz-bk-color{
    background-color: #ffd166;
}

.fizzbuzz-bk-color{
    background-color: #f0466f;
}


/*--------------
  ASIDE POST-IT
---------------*/
aside{
    position: fixed;
    left: 3.125rem;
    top: 200px;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

ul,li{
    list-style:none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height: 12.5rem;;
    width: 15.625rem;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}
  
ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
}
  
ul li{
    margin:1em;
}